
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.content{
    padding: 2%;
    margin: 0 20%;;
}

h1{
    text-align: center;;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.gallery-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
    z-index: 10; 
}

.gallery-item:hover {
    transform: scale(1.05);
} 

.gallery-item:hover #showOnHover{
    display: block;
}

#showOnHover{
    display: none;
}

.gallery-item:hover #hideOnHover{
    display: none;
}

#hideOnHover{
    display: block;
}


.gallery-item h4{
    text-align: center;
    margin: 10px 0;
}

.gallery-item img{
    width: 15vw;
    height: 10vw
}

ul li{
    text-align: left;
}

p{
    text-align: center;
}
a{
    text-decoration: none;
}