
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    color: #222;
    font-size: 1.4em;
}

h1{
    text-align: center;;
    font-size: 2.2em;
}

a{
    color: #222;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.gallery-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
    z-index: 10; 
}

.gallery-item:hover {
    transform: scale(1.05);
} 

.gallery-item:hover #showOnHover{
    display: block;
}

#showOnHover{
    display: none;
}

.gallery-item:hover #hideOnHover{
    display: none;
}

#hideOnHover{
    display: block;
}


.gallery-item h4{
    text-align: center;
    margin: 10px 0;
}

.gallery-item img{
    width: 15vw;
    height: 10vw
}

ul li{
    text-align: left;
}

p{
    text-align: center;
}
a{
    text-decoration: none;
}
hr{
    margin: 20px auto;
    width: 90%;
    border-top: 2px solid #333;
}
/*rows*/
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.rowItem{
    width: 48%;
    align-items: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0% 1%;
    flex-direction: column ;
}

.rowItem img{
    max-width: 100%;
    height: auto;
}

.rowItem p {
    font-size: 1.5em;
}

.rowItem button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    .rowItem {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}